body {
    background-image: url('assets/background.jpg');
    background-size: auto; /* Cover the entire background */
    /*background-position: center; */ /* Center the image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    /*height: 100vh;*/ /* Set height to 100% of viewport height */
    /*overflow: hidden;*/ /* Hide overflow to prevent scrolling */
    cursor: url('assets/cursor.png'), auto;
}

.calculator {
  padding: 50px 50px 20px 50px;
  color: #000000;
  text-align: center;
  margin-left: 300px;
  margin-top: 200px;
  background-color:#e35656;
  width: 50%;
}

.name-box {
  padding: 12px 14px;
  width: 40%
}

/* buttons */
.buttons {
  color: #ffd7e8;
  background-color: #ffaaaa;
  border: solid;
  border-color: #ee4266;
  cursor: pointer;
  margin: 10px 10px;
  padding: 10px 20px 10px 20px;
  position: relative;
  opacity: 0.5;
  font-size: 1rem;
}

.buttons:hover {
  box-shadow: 5px 3px #bd245f;
  opacity: 1;
  color: #ee4266;
}

h1 {
    animation: combinedAnimation 3s linear infinite;
    line-height: 1;
    font-size: 144px; /* Adjust font size as needed */
    text-align: center; /* Center-align text */
    position: absolute; /* Position the element absolutely */
    top: 5%; /* Place it at 50% from the top */
    left: 50%; /* Place it at 50% from the left */
    transform: translate(-50%, -50%); /* Translate it back by half its size */
    z-index: 2;
}

.meme {
  animation: rotation 8s infinite linear;
  position: absolute;
  width: 200px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes combinedAnimation {
    0% {
        color: red; /* Initial color */
        transform: translate(-50%, -50%) rotate(0deg); /* Start rotation angle */
    }
    20% {
        color: orange;
        transform: translate(-50%, -50%) rotate(-72deg); /* Adjust rotation angle */
    }
    40% {
        color: yellow;
        transform: translate(-50%, -50%) rotate(-144deg); /* Adjust rotation angle */
    }
    60% {
        color: green;
        transform: translate(-50%, -50%) rotate(-216deg); /* Adjust rotation angle */
    }
    80% {
        color: blue;
        transform: translate(-50%, -50%) rotate(-288deg); /* Adjust rotation angle */
    }
    100% {
        color: purple; /* Final color */
        transform: translate(-50%, -50%) rotate(-360deg); /* End rotation angle (360 degrees) */
    }
}

#meme1 {
    top: 10%;
    left: 70%;
    width: 100px;
}

#meme2 {
    top: 10%;
    left: 10%;
}

#meme3 {
    top: 25%;
    left: 70%;
}

#meme4 {
    top: 55%;
    left: 13%;
}

#meme5 {
    top: 60%;
    left: 80%;
}
